// COLOR VARS
$darkblue: #1f2833;
$cyan: #4aa29e;
$aqua: #407274;

// MEDIA QUERIES
$large: "1024px";
$medium: "768px";
$small: "567px";
$smaller: "425px";
$smallest: "320px";

$alturalarge: "567px";
$alturatlmvl: "660px";

// MIXINS
@mixin transition(
  $property: all,
  $duration: 0.45s,
  $ease: cubic-bezier(0.65, 0, 0.076, 1)
) {
  transition: $property $duration $ease;
}

// BASE
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  background: $darkblue;
}

.loading {
  background: $darkblue;
}

.content {
  background: $darkblue;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;

  @media only screen and (max-width: $small) {
    flex-direction: column;
  }

  @media only screen and (max-height: $alturalarge) and (max-width: $small) {
    height: auto;
    margin-top: 1rem;
  }

  // Center Display and Form content
  & > * {
    display: flex;
    align-items: center;
    flex-direction: column;

    animation: fadein 1.5s;
  }
}
