button {
  position: relative;
  display: inline-block;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  font-size: inherit;

  outline: none;
  cursor: pointer;

  &.learn-more {
    width: 12rem;
    height: auto;

    @media only screen and (max-width: $small) {
      font-size: 1em;
      width: 10rem;
    }

    @media only screen and (max-height: $alturalarge) and (min-width: $small) {
      font-size: 0.8rem;
      width: 8rem;
    }

    .circle {
      @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
      position: relative;
      margin: 0;
      width: 2.5rem;
      height: 2.5rem;
      background: $darkblue;
      border-radius: 1.625rem;

      @media only screen and (max-width: $small) {
        font-size: 1em;
        width: 1.7rem;
        height: 1.7rem;
      }

      @media only screen and (max-height: $alturalarge) and (min-width: $small) {
        width: 1.5rem;
        height: 1.5rem;
      }

      .icon {
        @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: white;
        &.arrow {
          @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
          left: 0.35rem;
          width: 1.125rem;
          height: 0.125rem;
          background: none;

          @media only screen and (max-width: $small) {
            left: 0;
          }

          @media only screen and (max-height: $alturalarge) and (min-width: $small) {
            left: -0.1rem;
          }

          &::before {
            position: absolute;
            content: "";
            top: -0.25rem;
            right: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            border-top: 0.125rem solid #fff;
            border-right: 0.125rem solid #fff;
            transform: rotate(45deg);
          }
        }
      }
    }

    .button-text {
      @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.6rem 0;
      margin: 0 0 0 1.85rem;
      color: $darkblue;
      font-weight: 700;
      line-height: 1.6;
      text-align: center;
      text-transform: uppercase;

      @media only screen and (max-width: $small) {
        margin: 0 0 0 1.5rem;
        padding: 0.2rem 0;
      }

      @media only screen and (max-height: $alturalarge) and (min-width: $small) {
        padding: 0.2rem 0;
        margin: 0 0 0 2rem;
      }
    }
  }
  &:hover {
    .circle {
      width: 100%;
      background: $cyan;
      .icon {
        &.arrow {
          background: white;
          transform: translate(1rem, 0);
        }
      }
    }
    .button-text {
      color: white;
    }
  }
}
