@import "./assets/variables.scss";

.content {
  background: $darkblue;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: calc(10px + 2vmin);
}

.Display{
  height: 70%;
  width: 30%;
  background: linear-gradient($cyan, $aqua);
}

.Form{
  height: 60%;
  width: 35%;
  background:#fff;
}
